@{
    ViewBag.Title = "CRUD Alumnos";
}

<div class="jumbotron">
    <h1>Sistema de gestión del Colegio X</h1>
    <p class="lead">Tienes la herramienta justa para administrar Alumnos, Profesores y Grados, así como la relación de los alumnos matriculados</p>
</div>
